<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}
        Django App
      {% endblock %}
    </title>
    {% load static %} <!-- Load static files -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="{% static '/styles/base.css' %}"/>
    <link rel="icon" href="{% static '/images/favicon.ico' %}"/>
    {% block links %}
    {% endblock %}
  </head>
  <body hidden>
    <script src="{% static 'javascript/base.js' %}"></script>
    <nav class="navbar navbar-expand-lg navbar-light sticky-top">
      <!-- Add the logo and brand name -->
      <a class="navbar-brand" href="/">
        <img src="{% static 'images/bearinc.webp' %}" alt="Logo" style="width: 35px; height: 35px; margin-right: 10px;">
        Deposum
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
          </li>
          <li class="nav-item">
            {% if user.is_authenticated %}
            <form method="POST" action="/logout">
              {% csrf_token %}
              <button type="submit" class="nav-link log-btn logout">Hello, {{ user.get_username }}. <b class="log-text">Log out</b></button>
            </form>
            {% else %}
            <a class="nav-link log-btn" href="/login">Not logged in. <b class="log-text">Log in</b></a>
            {% endif %}
          </li>
        </ul>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">{% block content %} {% endblock %}</div>

    <!-- "Go to Top" Button -->
    <button onclick="topFunction()" id="goToTopBtn" title="Go to Top" hidden>↑</button>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
