<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}
        Django App
      {% endblock %}
    </title>
    {% load static %} <!-- Load static files -->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
          crossorigin="anonymous">
    <link rel="stylesheet" href="{% static '/styles/base.css' %}"/>
    <link rel="icon" href="{% static '/images/favicon.ico' %}"/>
    {% block links %}
    {% endblock %}
  </head>
  <body hidden>
    <script src="{% static 'javascript/base.js' %}"></script>
    <nav class="navbar navbar-expand-lg navbar-light sticky-top">
      <!-- Add the logo and brand name -->
      <a class="navbar-brand" href="/">
        <img src="{% static 'images/bearinc.webp' %}" alt="Logo" style="width: 35px; height: 35px; margin-right: 10px;">
        Deposum
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
          </li>
          <li class="nav-item">
            {% if user.is_authenticated %}
            <form id="logoutForm" method="POST" action="/logout">
              {% csrf_token %}
              <button onclick="logoutConfirm()" class="nav-link log-btn logout">Hello, {{ user.get_username }}. <b class="log-text">Log out</b></button>
            </form>
            {% else %}
            <a class="nav-link log-btn" href="/login">Not logged in. <b class="log-text">Log in</b></a>
            {% endif %}
          </li>
        </ul>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">
      {% if msg %}
      <!-- Error Message -->
      <div class="msg-container">
          <a class="msg-text">{{ msg }}</a>
          <button class="msg-close-button" onclick="removeMessage()">
              <svg class="msg-close-icon"fill="#000000" viewBox="0 0 256 256" id="Flat" float="right">
                  <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                  <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                  <g id="SVGRepo_iconCarrier">
                      <path d="M202.82861,197.17188a3.99991,3.99991,0,1,1-5.65722,5.65624L128,133.65723,58.82861,202.82812a3.99991,3.99991,0,0,1-5.65722-5.65624L122.343,128,53.17139,58.82812a3.99991,3.99991,0,0,1,5.65722-5.65624L128,122.34277l69.17139-69.17089a3.99991,3.99991,0,0,1,5.65722,5.65624L133.657,128Z"></path>
                  </g>
              </svg>
          </button>
      </div>
      {% endif %}
      {% block content %} {% endblock %}
    </div>

    <!-- "Go to Top" Button -->
    <button onclick="topFunction()" id="goToTopBtn" title="Go to Top" hidden>↑</button>

    <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js"
            integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8="
            crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
            integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
            crossorigin="anonymous">
    </script>
  </body>
</html>
