{% extends "base.html" %}
{% load static %} <!-- Load static files -->

{% block title %} Contact {% endblock %}
{% block content %}
<!-- WORK IN PROGRESS-->
<h3>
  <a href="https://www.bearinc.com" target="_blank">
    Bearinc.com
    <img src="{% static 'images/bearinc.webp' %}" alt="Bearinc Logo" style="width: 40px; height: 40px; vertical-align: middle; margin-right: 10px;">
  </a>
</h3>
<a>Developed by:
  <ul>
    <li><a target=_blank href=""><!--add your contact info?-->Mitchell Leung</a> (mitchell.k.leung@gmail.com)</li>
    <li><a target=_blank href="https://www.linkedin.com/in/andrei-secor-88a747229/">Andrei Secor</a> (andreijsecor@gmail.com)</li>
  </ul>
</a>
{% endblock %}
