{% extends "base.html" %}
{% load static %} <!-- Load the static files -->

{% block title %} Home Page | Deposum {% endblock %}

{% block content %}
<script src="{% static 'javascript/home.js' %}"></script>
<h1>Upload a PDF of your deposition to Deposum</h1>
<form method="POST" id="form" enctype="multipart/form-data" action="{% url 'summarize' %}">
    {% csrf_token %}
    <div class="form-group">
        <label for="fileInput">Choose a file:</label>
        <input type="file" class="form-control" id="fileInput" name="file" required>
    </div>
    <button type="submit" class="btn btn-primary" id="btnClicked" onclick="if (validateForm()) document.getElementById('form').submit();">Summarize</button>
</form>

<!-- Loading message -->
<div id="loading" style="display:none; margin-top: 10px;">
    Processing... <img src="{% static '/images/gavel-judge.gif' %}" alt="Loading..." style="width: 50px; height: 50px;">
</div>

<!-- textarea -->
<div class="form-group" style="margin-top: 100px;">
    <label for="chatbot1">Chatbot pending...</label>
    <textarea id="chatbot1" class="form-control" rows="8" placeholder="Ask Deposum anything!"></textarea>
</div>

<!--  textarea -->
<div class="form-group" style="margin-top: 20px;">
    <label for="chatbot2">Chatbot pending...</label>
    <textarea id="chatbot2" class="form-control" rows="8" placeholder="Ask Deposum anything!"></textarea>
</div>

<!--  textarea -->
<div class="form-group" style="margin-top: 20px;">
    <label for="chatbot3">Chatbot pending...</label>
    <textarea id="chatbot3" class="form-control" rows="8" placeholder="Ask Deposum anything!"></textarea>
</div>
{% endblock %}
