{% extends "base.html" %}
{% load static %} <!-- Load static files -->

{% block links %}
<link rel="stylesheet" href="{% static '/styles/login.css' %}">
{% endblock %}

{% block title %} Login | Deposum {% endblock %}
{% block content %}
<h3>
  Login:
</h3>
<i class="create">
  No account? 
  <a href="new">
    create account
  </a>
</i>
<div class="login-container">
  <form method="POST" class="login-box" id="form" enctype="multipart/form-data" action="{% url 'auth' %}">
    {% csrf_token %}
    <label class="login-label" for="username">Username:</label>
    <input type="text" class="form-control" id="username" name="username" required>
    <label class="login-label" for="password">Password:</label>
    <input type="password" class="form-control" id="password" name="password" required>
    <button type="submit" class="btn btn-primary login-btn" id="btnClicked">Login</button>
  </form>
</div>

{% endblock %}
