{% extends "base.html" %}
{% load static %}

{% block title %} Output {% endblock %}
{% block content %}
<!-- WORK IN PROGRESS-->
<div id="loading">
    Processing... <img src="{% static '/images/loading.gif' %}" alt="Loading..." style="width: 50px; height: 50px;">
</div>
<div class="form-group" style="width: 25%; float: right; padding-left: 1%" hidden>
    <label for="chatbot">Chatbot:</label>
    <textarea id="chatbot" class="form-control" rows="8" placeholder="Ask Deposum anything!"></textarea>
    <form id="chat-question" method="POST" action="{% url 'ask' %}">
        <label for="question">Question:</label>
        <input id="question" name="question" type="text" required></input>
    </form>
</div>
<script src="{% static 'javascript/output.js' %}"></script>
<script>
    startCheckThread();
</script>
{% endblock %}