{% extends "base.html" %}
{% load static %}

{% block title %} Output | Deposum {% endblock %}

{% block links %}
<link rel="stylesheet" href="{% static '/styles/output.css' %}">
{% endblock %}

{% block content %}
<div id="loading">
    Processing... <img src="{% static '/images/gavel-judge.gif' %}" alt="Loading..." style="width: 50px; height: 50px;">
</div>
<div class="chat-container" hidden>
    <h3 class="chat-header">
        Chatbot:
    </h3>
    <div class="chat-messages">

    </div>
    <form class="chat-question" id="chat-question">
        <label class="chat-question-label" for="question">Question:</label>
        <input class="chat-question-box" id="question" name="question" type="text" placeholder="Ask Deposum anything!" required></input>
    </form>
    <!--iframe class="chat-frame" id="answer" name="answer"></iframe-->
</div>
<script src="{% static 'javascript/output.js' %}"></script>
<script>
    startCheckThread();
</script>
{% endblock %}