.body-container {
  display: flex;
}

.summary-container {
  width: 75%;
}

.clear-button {
  float: right;
  margin-right: 10px;
}

.chat-container {
  background-color: #FFFFFF;
  border-radius: 10px;
  margin-left: 1%;
  width: 24%;
  aspect-ratio: 12 / 25;
  height: 100%;
  float: right;
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.chat-header {
  background-color: #EFEFEF;
  border: 1px solid #CCCCCC;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 5px 10px;
  margin-bottom: 0;
}

.chat-download-button {
  float: right;
  display: flex;
  align-items: center;
  height: 100%;
}

.chat-messages {
  flex-grow: 1;
  overflow-y: scroll;
  padding: 10px;
  border-left: 1px solid #CCCCCC;
  border-right: 1px solid #CCCCCC;
}

.chat-messages-bubble {
  border-radius: 10px;
  padding: 0.5rem 0.75rem;
  width: 60%;
  font-family: "Roboto";
  line-height: 1.1em;
  box-shadow: #888888 2px 5px 5px;
}

.chat-messages-out {
  background-color: #218AFF;
  color: #FDFDFD;
  float: right;
}

.chat-messages-in {
  background-color: #D8D8D8;
  color: #000000;
  float: left;
}

.chat-messages-error {
  background-color: #FF3333;
  color: #FDFDFD;
}

.chat-question {
  background-color: #EFEFEF;
  border: 1px solid #CCCCCC;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 5px;
  padding-left: 10px;
  display: flex;
}

.chat-question-label {
  position: relative;
  padding-right: 5px;
  top: calc(50% - 0.75em);
}

.chat-question-box {
  border: none;
  border-radius: 7px;
  width: 100%;
  max-width: 200px;
  margin: 1px auto 1px 0px;
  padding-left: 4px;
}